<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Forum Fan Site</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="css/AdminLTE.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/skins/skin-blue.min.css">

    </head>
    <body class="hold-transition skin-blue-light ">
        <div class="wrapper">

            <header class="main-header">
                <a href="index.html" class="logo">
                    <span class="logo-mini"><b>F</b>S</span>
                    <span class="logo-lg"><b>Forums & Chat</b></span>
                </a>
                <nav class="navbar navbar-static-top">

                    <div class="">
                        <ul class="nav navbar-nav">
                            <li><a href="rooms.html"><i class="fa fa-circle-o"></i>Chat Rooms</a></li>
                        </ul>
                    </div>
                     <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-circle-o"></i>Profile</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Logout</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
             

        <section class="content">
           <div class="row">
           
                <div class="col-md-5">
                  
                    <div class="media box box-widget chat">
                      <a>
                       <div class="media-left">
                            <a href="#">
                                <img class="media-object img_lg" src="img/user1-128x128.jpg" alt="User Image">
                            </a>
                        </div>
                      <div class=" box-body media-right ">
                         <div class="media-body">
                            <div class="media-heading name">Music Club</div>
                            <p>You got to love the beats and the anthems.Lets rock your world</p>
                            <div class="chat_footer box-footer">
                                 <div class="row">
                                    <div class="col-sm-4 border-right">
                                      <div class="description-block">
                                        <h5 class="description-header">3,200</h5>
                                        <span class="description-text">Following</span>
                                      </div>
                                      <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                      <div class="description-block">
                                        <h5 class="description-header">13,000</h5>
                                        <span class="description-text">FOLLOWERS</span>
                                      </div>
                                      <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4">
                                      <div class="description-block">
                                        <h5 class="description-header">35</h5>
                                        <span class="description-text">ONLINE</span>
                                      </div>
                                      <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                  </div>
                               
                            </div>
                        </div>
                      
                    </div>
                     </a>
                    </div>
                </div>
               <div class="col col-lg-6">
                       <div class="box-footer box-comments " style="background-color: #fff;">
                            <div class="box-comment">
                              <!-- User image -->
                              <img class="img-circle img-sm" src="img/user1-128x128.jpg" alt="User Image">

                              <div class="comment-text">
                                    <span class="username text-fuchsia">
                                      Maria Gonzales
                                      <span class="text-muted pull-right">8:03 PM Today</span>
                                    </span><!-- /.username -->
                                It is a long established fact that a reader will be distracted
                                by the readable content of a page when looking at its layout.
                              </div>
                              <!-- /.comment-text -->
                            </div>
                            <!-- /.box-comment -->
                            <div class="box-comment  " >
                              <!-- User image -->
                              <img class="img-circle img-sm" src="img/user2-160x160.jpg" alt="User Image">

                              <div class="comment-text">
                                    <span class="username text-aqua">
                                      Nora Havisham
                                      <span class="text-muted pull-right">8:03 PM Today</span>
                                    </span><!-- /.username -->
                                The point of using Lorem Ipsum is that it has a more-or-less
                                normal distribution of letters, as opposed to using
                                'Content here, content here', making it look like readable English.
                              </div>
                              <!-- /.comment-text -->
                            </div>
                            <!-- /.box-comment -->
                          </div>
                         <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                  <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-success btn-flat">Send</button>
                      </span>
                </div>
              </form>
            </div>
                    </div>
                    
                    
                </div>
        </section>
            </div>
        </div>
    </body> 
    <!-- /.content-wrapper -->