<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Forum Fan Site</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="css/AdminLTE.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/versatile.css">

        <link rel="stylesheet" href="css/skins/skin-blue.min.css">

    </head>
    <body class="hold-transition skin-blue ">
        <div class="wrapper">

            <header class="main-header">
                <a href="/" class="logo">
                    <span class="logo-mini"><b>F</b>S</span>
                    <span class="logo-lg"><b>Forums & Chat</b></span>
                </a>
               <nav class="navbar navbar-static-top">

                    <div class="">
                        <ul class="nav navbar-nav">
                            <li><a href="rooms.html"><i class="fa fa-comments"></i> Chat Rooms</a></li>
                        </ul>
                    </div>
                     <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-lock"></i> Logout</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper ">
             

          <section class="content panel  "><br>
         <div class="row  ">
            
          <div class="col-lg-3 col-lg-push-1 ">
                    <!-- Profile Image -->
          <div class="">
            <div class=" panel-body box-profile" style="border: 1px solid #d2d6de;">
              <img class="profile-user-img img-responsive img-circle" src="img/user4-128x128.jpg" alt="User profile picture">

              <h3 class="profile-username text-center"></h3>


              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Followers</b> <a class="pull-right">Nil</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">Nil</a>
                </li>
               
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
            </div>
             <div class="col-lg-push-2 col-md-6 col " style="border: 1px solid #d2d6de;">
                  <!-- About Me Box -->
                <div class=" box-primary box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-info margin-r-9"></i>     About </h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> Status</strong>

                    <p class="text-muted">
                    </p>

                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> From</strong>

                    <p class="text-muted"></p>
                    <hr>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Hobbies</strong>

                    <p></p>
                    <hr>

                    <strong><i class="fa fa-group margin-r-5"></i> Groups Joined</strong>

                    <p>
                      <span class="label label-danger">Default</span>
                    
                    </p>

                    
                  </div>
                  <!-- /.box-body -->
                </div>
          <!-- /.box -->
             </div>
        </div>
            </div>
                
            </div>
         <script src="js/jquery-3.2.1.min.js"></script>
         <script src="js/init.js"></script>
         <script src="js/profile.js"></script>
    </body> 
    <!-- /.content-wrapper -->