<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Forum Fan Site</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="css/AdminLTE.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/skins/skin-blue.min.css">
        <link rel="stylesheet" href="css/versatile.css">

    </head>
    <body class="hold-transition skin-blue ">
        <div class="wrapper">

             <header class="main-header">
                <a href="index.html" class="logo">
                    <span class="logo-mini"><b>F</b>S</span>
                    <span class="logo-lg"><b>Forums & Chat</b></span>
                </a>
                <nav class="navbar navbar-static-top">

                    <div class="">
                        <ul class="nav navbar-nav">
                            <li><a href="rooms.html"><i class="fa fa-comments"></i> Chat Rooms</a></li>
                        </ul>
                    </div>
                     <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-lock"></i> Logout</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                
        <section class="content">
           <div class="row row-centered">
        
                <div class="col-md-7 col-centered">
                  <div class="media box box-widget chat">
                      <a>
                       <div class="media-left">
                            <a href="#">
                                <img class="media-object img" src="img/user1-128x128.jpg" alt="User Image">
                            </a>
                        </div>
                      <div class=" box-body media-right ">
                         <div class="media-body">
                            <div class="media-heading name">Music Club</div>
                            <p>You got to love the beats and the anthems.Lets rock your world</p>
                            <div class="chat_footer box-footer">
                                <span class="chat_people_no label label-info">
                                    234 
                                </span>
                                <span class="chat_people_no label label-default">
                                    Chatting
                                </span>
                            </div>
                        </div>
                      
                    </div>
                     </a>
                    </div>
                     <div class="media box box-widget chat">
                      <a>
                       <div class="media-left">
                            <a href="#">
                                <img class="media-object img" src="img/photo4.jpg" alt="User Image">
                            </a>
                        </div>
                      <div class=" box-body media-right ">
                         <div class="media-body">
                            <div class="media-heading name">Science Club</div>
                            <p>You got to love the beats and the anthems.Lets rock your world</p>
                           <div class="chat_footer box-footer">
                                <span class="chat_people_no label label-info">
                                    104 
                                </span>
                                <span class="chat_people_no label label-default">
                                    Chatting
                                </span>
                            </div>
                        </div>
                      
                    </div>
                     </a>
                    </div>
                     <div class="media box box-widget chat">
                      <a>
                       <div class="media-left">
                            <a href="#">
                                <img class="media-object img" src="img/photo2.png" alt="User Image">
                            </a>
                        </div>
                      <div class=" box-body media-right ">
                         <div class="media-body">
                            <div class="media-heading name">Dating Club</div>
                            <p>You got to love the beats and the anthems.Lets rock your world</p>
                            <div class="chat_footer box-footer">
                                <span class="chat_people_no label label-info">
                                    104 
                                </span>
                                <span class="chat_people_no label label-default">
                                    Chatting
                                </span>
                            </div>
                        </div>
                      
                    </div>
                     </a>
                    </div>
                </div>
              
        </section>
            </div>
        </div>
    </body> 
    <!-- /.content-wrapper -->