
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
.selected{
    background-color: #257287;
     color: #fff;
}
.selected:hover{
  color:#53A3A3;
}
.hidden{
  display:none;
}
